**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
whisp.db
whisp.db-journal
app/storage/files/*
!app/storage/files/.gitkeep
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
node_modules
whisp
